<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" class="navbar-text" href="/">Home</a>
		
    </div>
  </div>
</nav>