<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/products/new">Add Product</a>
    </div>
  </div>
</nav>