/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.edit-image{
	height: 25px;
	width: 25px;
	
}

.new-image {
	height: 25px;
	width: 25px;
	background-color: white;
}

.delete-image{
	background-image: image-url('delete-product.svg');
	

}

.last-date {
	margin-right: 200px;
}
.panel1, .flip{
    padding: 5px;
    text-align: center;
    background-color: gray;
    color: black;
    border: solid 1px #c3c3c3;
}

.panel1, .panel-add-product {
    padding: 5px;
    text-align: center;
    background-color: gray;
    color: black;
    border: solid 1px #c3c3c3;
}

.panel1 {
    
    display: none;
}

.panel-add-product {
	display: none;
}


.ingredient-name {
	display: inline;
	font-size: .35em;
	/*float: left;*/
	/*font-size: 20px;*/
}

.delete-product-button {
	background-color: #009CB1;
}

:hover.delete-product-button{
	background-color: teal;
}

.edit-prod-button {
	display: block;
	color: white;
	width: 150px;
	position: relative;
	margin-right: auto;
	margin-left: auto;

}
:hover.edit-prod-button{
	color: gray;
}

.edit-button{
	border-radius: 10px;
	width: 200px;
	height: 40px;
	background-color: gray;
	color: white;
}

.navbar-text{
	color: white;
}

:hover.navbar-default{
	color: white;

}

.navbar-brand {

	color: white;
}

.page-title {
	text-align: center;
	font-size: .80em;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
}

.page-subtitle{
	font-size: .80em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.items {
	text-align: center;
	/*font-size: 40px;*/
	margin: 5px;
}

.btn-width{
	width: 100%;
}

.btn-height {
	padding: 15px;
}

.btn-width-show {
	/*width: 280px;*/
	width: 25%;
}

.btn-spacing{
	margin-top: 5px;
}

.btn-color{
	background-color: #009CB1;
	color: white;
}


.btn-color-ingredients {
	background-color: #E52E62;
	color: white;
}

.btn-color-instance{
	background-color: white;
}

.btn-instance-height {

	height: 35px;
}

.btn-instance-width {
	width: 5%;
	margin-left: 5px;
}

:hover.btn-color-instance {
	background-color: #E52E62;
	color: white;
}
.btn-float-right{
	float: right;
}

.text-float-left {
	float: left;
}

.ingredient-width {
	max-width: 30%;
}

.btn-center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/*.btn-color moved to aplication.scss so that it loads after bootstrap */


.btn-display{
	display: inline-block;
}

.center-form{
	/*text-align: center;*/
	text-align: center;
}