/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.edit-button{
	border-radius: 10px;
	width: 200px;
	height: 40px;
	background-color: gray;
	color: white;
}

#navbar-text{
	color: black;
}
:hover#navbar-text{
	color: white;
}
.navbar-brand {
	color: white;
}

.page-title {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}

.items {
	text-align: center;
	font-size: 20px;
	margin: 5px;
}

.btn-width{
	width: 300px;
}

.btn-color{
	background-color: #999999;
	color: white;
}

/*.btn-color moved to aplication.scss so that it loads after bootstrap */

.btn-width-2{
	width: 400px;
}

.btn-display{
	display: inline-block;
}

.center-form{
	/*text-align: center;*/
	text-align: center;
}