/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.page-title {
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
}

.items {
	text-align: center;
	font-size: 20px;
	margin: 5px;
}

.btn-width{
	width: 300px;
}