<div class="container">
	<div class="row"></div>
	<div class="page-title">Add New Product</div>

		<br>
		<br>
		<br>
			
		</div>
		<div class="col-lg-12 center-form">
		
			
			
		  	
		  		<%= form_for @product do |f| %>
		              <%= f.text_field :product_name, maxlength: "30", :required => true %>
		              <%= f.submit "Create" %>
		              <%= link_to 'Cancel', products_path, class: 'btn btn-danger btn-xs' %>
		  		<% end %>
		
		</div>
		
	</div>
	