
<div class="container">
	<div class="row"></div>
		<div class="col=lg=6 col-md-12 col-sm-12"></div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="page-title">product: <%= @product.product_name %></div>
				<div class="page-subtitle">ingredients</div>
					<% @product.ingredients.unique.each do |ingredient| %>
						<div class="ingredient-name">
							<div class="btn btn-color-ingredients btn-width btn-spacing">
								<%= link_to ingredient.name, create_instance_path(ingredient_id: ingredient.id, product_id: @product.id), method: :create, class: "btn btn-color-ingredients btn-width-show" %>
							</div>
							
							Last: <%= ingredient.instances.last.instance_date %>
						</div>
					<% end %>
			</div>	
			
		
	</div>
</div>
