
<div class="container">
	<div class="row"></div>
		<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="page-title">Product: <%= @product.product_name %></div>
					<% @ingredients.each do |ingredient| %>
						<div class="ingredient-name">
							<%= ingredient.name %>
						</div>
					<% end %>
			</div>	
			
		
	</div>
</div>
